
.title {
  // margin-left: 5px;
  font-size: 10px;
}
.container-header {
  color: white;
  width: 100%;
  font-size: 19px;
  background: linear-gradient(#f34680, #4480f8);
}

.link-nav{
  color: white;
}

.link-nav:hover{
  color: black;
}
.center {
  flex-grow: 8;
  display: flex;
  justify-content: center;
  align-items: center;

  .ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 5px;
      width: 75px;
      font-size: 14px;
      color: #fff;
      text-align: center;
    }

    li:hover{
      color: black;
    }
  }
}
