.backgrounddd {
  margin-top: 5%;
  margin-left: 25%;
  border: 2px solid;
  height: 550px;
  width: 80%;
  border-radius: 2%;
}

.round {
  border: 1px solid;
  height: 35px;
  width: 35px;
  font-size: 20px;
  color: #c4c4c4;
  text-align: center;
  border-radius: 50%;
  padding-bottom: 2px;
}
.v1 {
  border-left: 1px solid #c4c4c4;
  height: 30px;
  position: absolute;
  left: 33%;
  top: 26%;
}
.v2 {
  border-left: 1px solid #c4c4c4;
  height: 300px;
  position: absolute;
  left: 33%;
  top: 35.5%;
}
.inline {
  margin-left: 8%;
  display: inline-block;
}
.inline-2 {
  margin-left: 1%;
  display: inline-block;
}
.inline-3 {
  margin-top: 4%;
  margin-left: 8%;
  display: inline-block;
}
.inline-4 {
  margin-top: 1%;
  margin-left: 8%;
  display: inline-block;
}
.header {
  height: 10px;
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bold;
}
.detail {
  color: black;
}
.addrece {
  margin-left: 3.5%;
  margin-top: 1%;
}
.footerrr {
  margin-top: -0.7%;
}
.next {
  margin-left: 5%;
  margin-right: 5%;
  display: inline;
}
.back-button {
  height: 45px;
  width: 110px;
  color: black;
  font-size: 19px;
  background: white;
  border: none;
  position: absolute;
  left: 65%;
  top: 74%;
}
.next-button {
  position: absolute;
  left: 70%;
  top: 72%;
  height: 45px;
  width: 110px;
  color: white;
  font-size: 19px;
  background: linear-gradient(#f34680, #4480f8);
}
