.background {
  margin-top: 5%;
  margin-left: 33%;
  border: 2px solid;
  height: 550px;
  width: 70%;
  border-radius: 2%;
}
.content-2 {
  margin-top: 2.5%;
  margin-left: 5%;
}
.field-2 {
  color: black;
  font-weight: bold;
  display: inline;
  font-size: 20px;
}
.required {
  color: red;
  font-weight: bold;
  display: inline;
}
.input-1 {
  width: 600px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.input-2 {
  width: 600px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.footerrrr {
  margin-top: 7.5%;
}
.check {
  display: inline;
}
.back-buttonnn {
  height: 45px;
  width: 110px;
  color: black;
  font-size: 19px;
  background: white;
  border: none;
  position: absolute;
  left: -10%;
}
.next-buttonnn {
  position: absolute;
  left: -7%;
  height: 45px;
  width: 110px;
  color: white;
  font-size: 19px;
  background: linear-gradient(#f34680, #4480f8);
}
