.backgroundd {
  margin-top: 2%;
  margin-left: 3%;
  border: 2px solid;
  height: 550px;
  width: 70%;
  border-radius: 2%;
}
.footerr {
  margin-top: -0.7%;
  width: 70%;
}
.next {
  margin-left: 5%;
  margin-right: 5%;
  display: inline;
}
.back-button {
  height: 45px;
  width: 110px;
  color: black;
  font-size: 19px;
  background: white;
  border: none;
  position: absolute;
  left: 65%;
  top: 74%;
}
.next-button {
  position: absolute;
  left: 70%;
  top: 72%;
  height: 45px;
  width: 110px;
  color: white;
  font-size: 19px;
  background: linear-gradient(#f34680, #4480f8);
}
