.background-2 {
  border: 2px solid;
  height: 220px;
  width: 80%;
  border-radius: 1%;
  border-color: #c4c4c4;
  margin-left: 10%;
}
.content {
  margin-top: 2.5%;
  margin-left: 4%;
}
.field {
  color: black;
  font-weight: bold;
  display: inline;
  font-size: 15px;
}
.required {
  color: red;
  font-weight: bold;
  display: inline;
}
.input {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.inline {
  display: inline-block;
}
.button {
  margin-top: 2%;
  border: 1px solid;
  height: 50%;
  width: 19%;
  border-radius: 5px;
  border-color: #c4c4c4;
  margin-left: 13%;
  background-color: white;
  align-items: center;
  padding-bottom: 1%;
}
.button-content {
  color: #c4c4c4;
  display: inline;
  font-size: 15px;
  height: transparent;
}
.text2 {
  margin-left: 10px;
}
.content-background {
  width: transparent;
  height: transparent;
  padding-left: -10px;
}
