.icon-side {
  font-size: 17px;
  margin-right: 15px;
}
.center {
  // margin-left: 30px;
  font-size: 10px;
}
.side-title {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-top: 70px;
  margin-left: 15px;
  margin-bottom: 40px;
}
.button {
  font-weight: bold;
  font-size: 17px;
  margin-top: 30px;
  height: 45px;
  width: 80%;
  background-color: #44acf8;
  color: black;
  padding-top: 10px;
  padding-left: 15px;
}
.side-nav {
  orientation: vertical;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  border-right: 1px solid #cccccc;

  .container-logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 96px;
      height: 20px;
    }
  }

  .menu-seller {
    border: none;
    height: 100% !important;
    background-color: #f6f6f6;

    .ant-menu-item {
      color: #3d3d3f;
      font-size: 14px;
      border-right: 1px solid #cccccc;
      font-weight: 500;

      &:hover {
        color: #ffa15f;
      }
    }

    .link-name {
      color: #3d3d3f;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        color: #ffa15f;
      }
    }

    .ant-menu-item-selected::after {
      border-right: 5px solid #ffa15f !important;
    }

    .ant-menu-item-selected {
      color: #ffa15f;

      a {
        color: #ffa15f;
      }
    }

    .ant-menu-sub {
      background-color: #f6f6f6;
    }

    .ant-menu-submenu-title {
      color: #3d3d3f;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        .ant-menu-submenu-arrow::before,
        .ant-menu-submenu-arrow::after {
          background: #ffa15f;
        }

        color: #ffa15f;
      }
    }
  }
}
