.header{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

    .title{
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
        float:left;
    }

    .search-box{
        margin-left: 20px;
        float: right;
        width: 70%;
    }
}