.background-addDoc {
  margin-top: 5%;
  border: 2px solid;
  margin-left: 25%;
  width: 80%;
  height: 500px;
  border-radius: 2%;
}
.upload {
  margin-top: 15%;
  font-size: 90px;
  text-align: center;
  color: #bed8fb;
  font-family: "montserrat";
}
.dropfile {
  margin-top: 1%;
  text-align: center;
  font-size: 20px;
}
.browse {
  text-align: center;
  margin-top: 15px;
}
.check {
  position: absolute;
  left: 70%;
  top: 75%;
}
.next {
  position: absolute;
  left: 82%;
  top: 74%;
}
.next-buttonn {
  height: 45px;
  width: 110px;
  color: white;
  font-size: 19px;
  background: linear-gradient(#f34680, #4480f8);
}
