.footer-customer {
  margin-top: 50px;
  background-color: #94a0ab;
  .divider-footer-customer {
    margin: 0;
    height: 0.7px;
    box-shadow: 5px -2px 5px rgba(58, 56, 56, 0.25);
  }

  .container-footer-customer {
    
    height: 150px;
    padding: 0 100px;
    display: block;

    .top {
      height: 121px;
      width: 100%;
      display: flex;
      align-items: stretch;

      .left {
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .link-home {
          color: #fff;
          font-size: 20px;
        }
      }

      .center {
        flex-grow: 8;
        display: flex;
        justify-content: center;
        align-items: center;

        .ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            margin: 5px;
            width: 75px;
            font-size: 14px;
            color: #fff;
            text-align: center;
          }
        }
      }

      .right {
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon {
          margin-left: 10px;
        }
      }
    }

    .bottom {
      height: 64px;
      width: 100%;
      border-top: 1px solid #ececec;
      display: flex;
      align-items: stretch;

      .left {
        flex-grow: 6;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            margin: 18px !important;
            margin: 12px;
            font-size: 12px;
            color: #b7b7b7;
          }

          .start {
            margin-left: 0 !important;
          }
        }
      }

      .right {
        flex-grow: 4;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            margin: 18px !important;
            margin: 12px;
            font-size: 12px;
            color: #b7b7b7;
          }

          .end {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}
