.linear-gradient {
  height: 753px;
  background: linear-gradient(#f34680, #4480f8);
  padding-left: 550px;
  padding-top: 6%;
}
.step-background {
  border-radius: 2%;
  background: #ffffff;
  height: 550px;
  width: 400px;
}
.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.element {
  padding-left: 20px;
  padding-right: 20px;
}
.align-right {
  text-align: right;
}
.login {
  text-align: center;
}
.login-button {
  width: 100px;
  font-size: 50px;
}
.gglogin {
  margin-left: 2%;
  margin-right: 1%;
  font-size: 30px;
  color: #f14336;
  display: inline;
}
.inline {
  display: inline;
}
.register {
  text-align: center;
}
.login-customer {
  .ant-modal-content {
    border-radius: 0;
    width: 555px;

    .ant-modal-header {
      border: white;
      padding: 0;

      .ant-modal-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 122px;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        border-color: white !important;
      }
    }

    .ant-modal-body {
      padding: 0 80px;

      .ant-form {
        .input-content {
          margin-bottom: 12px;

          .ant-form-item-label {
            height: 40px;

            label {
              color: #202124;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .ant-form-item-control-wrapper {
            height: 46px;

            .ant-form-item-control {
              height: 100%;

              .ant-form-item-children {
                height: 24px;

                .ant-input-affix-wrapper {
                  height: 100%;

                  .ant-input-prefix {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .footer {
          height: 251px;

          .ant-form-item-control-wrapper {
            height: 100%;

            .ant-form-item-control {
              height: 100%;
              position: relative;

              .ant-form-item-children {
                height: 100% !important;

                .ant-checkbox-wrapper {
                  .ant-checkbox {
                  }

                  .ant-checkbox-checked .ant-checkbox-inner {
                    background-color: #ffa15f;
                    border-color: #ffa15f;
                  }

                  .login-form-forgot {
                    text-align: end;
                  }

                  span {
                    color: #4d4d4d;
                    font-weight: 300;
                  }
                }

                .forgot-password {
                  color: #4d4d4d;
                  right: 0%;
                  padding: 0;
                  margin-top: 5px;
                  position: absolute;

                  span {
                    font-weight: 500;
                  }
                }

                .login-form-button {
                  margin-top: 46px;
                  height: 50px;
                  width: 100%;
                  background-color: #ffa15f;
                  border: #ffa15f;
                  border-radius: 0;
                  font-size: 15px;
                  font-weight: bold;
                  position: relative;
                }

                .alert-content {
                  width: 100%;
                  margin-top: 5px;
                  position: absolute;
                }

                .bottom {
                  border-top: 1px solid rgba(0, 0, 0, 0.14);
                  display: flex;
                  margin-top: 50px;
                  justify-content: center;
                  align-items: center;
                  height: 65px;

                  .text {
                    padding-right: 5px;
                    margin: 0;
                    font-weight: 500;
                  }

                  .register {
                    color: #ff7413;
                    padding: 0;
                    margin: 0;

                    span {
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .ant-modal-footer {
      display: none;
    }
  }
}

.input-login {
  input {
    border-radius: 0;
    color: #202124;
    font-weight: 600;

    &:focus {
    }

    &:hover {
    }
  }
}
